@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Roboto:100,200,300,400,500,600,700");

body {
  font-family: "Roboto", sans-serif;
  color: #1a1919ad;
}

/*----------------------------------------------------logo */
.logo-img {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*----------------------------------------------------Navigation*/
.bg-light {
  border: none;
}

.navbar-light {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

ul.navbar-nav.mr-auto {
  display: flex;
  margin: 0 auto;
}

.nav-item {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 50px;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-item:hover {
  border-bottom: 1px solid rgb(53, 51, 53);
}

.form-control:focus {
  border-color: rgb(53, 51, 53);
  box-shadow: 0 0 0 0.2rem rgba(53, 51, 53, 0.25);
}

/*----------------------------------------------------Jumbotron*/
.jumbotron {
  margin-right: 20px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
 -webkit-box-shadow: inset 0 0px 0 rgba(0,0,0,0);
  min-height: 350px;
  
}

.display-4 {
  color: rgb(53, 51, 53);
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
}

.h1-white {
  color: #fafafa;
}

.lead{
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1px;
}

.jumbo-img {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*----------------------------------------------------API Data*/
.film-url {
  font-weight: 200;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: rgb(53, 51, 53);
}

.film-url:hover {
  color: rgba(53, 51, 53, 0.25);
  text-decoration: none;
}
/*----------------------------------------------------Footer*/
.social-links {
  font-size: 40px;
  margin-right: 20px;
  margin-top: 15px;
  color: rgb(53, 51, 53);
}

.social-links:hover {
  color: rgb(53, 51, 53, 0.25);
}

/*----------------------------------------------------Flip Cards*/
.card-deck{
    margin-left: 50px;
}

.card-title {
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 30vw;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 450px;
  perspective: 1000px;
  margin-bottom: 30px;
  margin-right: 30px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

h1,
.modal-header {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(53, 51, 53, 0.25);
  margin-bottom: 5px;
}

h3,
h4,
h6 {
  text-align: center;
}

p {
  margin-left: 2px;
}

/*----------------------------------------------------contact-us*/
.p-contact {
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.center-form {
  padding-top: 10px;
  padding-bottom: 60px;
  max-width: 50%;
}

textarea.form-control {
  margin-bottom: 20px;
}

.btn-success {
  background-color: rgb(53, 51, 53);
  border: rgb(53, 51, 53);
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
  color: #fafafa;
}

.btn-success:hover {
  background-color: rgba(53, 51, 53, 0.25);
  border: rgba(53, 51, 53, 0.25);
  color: rgb(53, 51, 53);
}

/*----------------------------------------------------Map*/
div #map{
    min-height: 360px;
}
/*----------------------------------------------------Media*/
@media screen and (max-width: 540px) {
  .navbar-light .navbar-nav .nav-item:hover {
    border-bottom: 0;
  }
  .card-img-top {
    width: 100%;
    height: 100%;
  }
  .center-form {
    margin: 0 auto;
  }
}
